# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\mastery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


# Intellij
.idea/
*.iml
*.iws
*.jsp
# Maven
log/
target/
/out/
/lib/


/src/main/java/com/chitts/dao/
/src/main/java/com/chitts/dto/
/src/main/java/com/chitts/dto/builder/
/src/main/java/com/chitts/dto/impl/
/src/main/java/com/chitts/dto/impl/Employee.java
/src/main/java/com/chitts/dto/impl/Gender.java
/src/main/java/com/chitts/dto/Model.java
/src/main/java/com/chitts/exceptions/
/src/main/java/com/chitts/rest/
/src/main/java/com/chitts/rest/EmployeeController.java
/src/main/java/com/chitts/rest/EmployeesController.java
/src/main/java/com/chitts/rest/MainController.java
/src/main/java/com/chitts/service/
/src/main/java/com/chitts/Main.java
/src/main/webapp/WEB-INF/views/
