<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <jmxConfigurator/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %blue(%-5level) %magenta(%logger{36}) - %msg %n</Pattern>
        </encoder>
    </appender>
    <root level="all">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>