<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <jmxConfigurator/>
    <property name="LOG_HOME" value="H:/newFolder/logging"/>

    <appender name="info" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/info.log</file>
        <encoder>
            <pattern>%-5level %logger{0} - %msg %d{dd.MM.yyyy HH:mm:ss}%n</pattern>
        </encoder>
    </appender>
    <appender name="exception" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/exceptions.log</file>
        <encoder>
            <pattern>%-5level %logger{0} - %msg %d{dd.MM.yyyy HH:mm:ss}%n</pattern>
        </encoder>
    </appender>
    <appender name="main" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/main.log</file>
        <encoder>
            <pattern>%-5level %logger{0} - %msg %d{dd.MM.yyyy HH:mm:ss}%n</pattern>
        </encoder>
    </appender>

    <logger name="info" level="info" additivity="false">
        <appender-ref ref="info"/>
    </logger>
    <logger name="debug" level="debug" additivity="false">
        <appender-ref ref="debug"/>
    </logger>
    <logger name="exception" level="error" additivity="false">
        <appender-ref ref="exception"/>
    </logger>

    <root level="all">
        <appender-ref ref="main"/>
    </root>

</configuration>